/*------------------------------------*\
#FONTS
\*------------------------------------*/

/*------------------------------------*\
#Variables
\*------------------------------------*/

:root {
    /* colors */
    --global-color-white-transparent:  #FFFFFF32;

    --global-color-neutral-xx-light: #EDEDED;
    --global-color-neutral-x-light: #D4D4D4;
    --global-color-neutral-light: #BABABA;
    --global-color-neutral: #A1A1A1;
    --global-color-neutral-dark: #6E6E6E;
    --global-color-neutral-x-dark: #3A3A3A;

    --global-color-alpha-xx-light: #D8EFF6;
    --global-color-alpha-x-light: #A7E2F6;
    --global-color-alpha-light: #76D6F6;
    --global-color-alpha: #44C9F6;
    --global-color-alpha-dark: #00B8F6;
    --global-color-alpha-x-dark: #0086B3;
    --global-color-alpha-xx-dark: #005F80;
    --global-color-alpha-xxx-dark: #00394D;
    --global-color-alpha-xxxx-dark: #00131A;

    --global-color-alpha-transparent: #44C9F632;

    --global-color-beta-xx-light: #ECBDD9;
    --global-color-beta-x-light: #EC8EC6;
    --global-color-beta-light: #EC5EB2;
    --global-color-beta: #EC008C;
    --global-color-beta-dark: #B3006A;
    --global-color-beta-x-dark: #80004C;

    --global-color-beta-transparent: #EC008C32;

    --global-color-gamma-xx-light: #FFFBCC;
    --global-color-gamma-x-light: #FFF899;
    --global-color-gamma-light: #FFF466;
    --global-color-gamma: #FFED00;
    --global-color-gamma-dark: #E6D500;
    --global-color-gamma-x-dark: #CCBE00;

    --global-font-size: 16;

    --global-baseline: calc(1rem / 2);
    --global-whitespace-xxs: var(--global-baseline); /* 8 */
    --global-whitespace-xs: calc(var(--global-baseline) * 2); /* 16 */
    --global-whitespace-sm: calc(var(--global-baseline) * 3); /* 24 */
    --global-whitespace-md: calc(var(--global-baseline) * 4); /* 32 */
    --global-whitespace-lg: calc(var(--global-baseline) * 5); /* 40 */
}

/*------------------------------------*\
#GENERIC
\*------------------------------------*/

/*
    Generic: Page
    ---
    Global page styles + universal box-sizing:
*/

html {
    font-size: calc(var(--global-font-size) / 16 * 100%);
    line-height: 1.5;
    font-family: 'Open Sans', Helvetica, arial, sans-serif;
    color: var(--color-neutral-dark);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::-moz-selection {
    background: var(--global-color-alpha);
    color: white;
    text-shadow: none;
}

::selection {
    background: var(--global-color-alpha);
    color: white;
    text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
    max-width: 100%;
    vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
    font-weight: 700;
}

h1 {
    font-size: calc(36rem / var(--global-font-size));
    line-height: calc(48rem / var(--global-font-size));
    margin: 0 0 24px;
}

h2 {
    font-size: calc(32rem / var(--global-font-size));
    line-height: calc(40rem / var(--global-font-size));
    margin: 0 0 24px;
}

h3 {
    font-size: calc(26rem / var(--global-font-size));
    line-height: calc(32rem / var(--global-font-size));
    margin: 0 0 24px;
}

h4,
h5,
h6 {
    font-size: calc(16rem / var(--global-font-size));
    font-weight: 600;
    line-height: calc(24rem / var(--global-font-size));
    margin: 0 0 24px;
}

p,
ol,
ul,
dl,
table,
address,
figure {
    margin: 0 0 24px;
}

ul,
ol {
    padding-left: 24px;
}

li ul,
li ol {
    margin-bottom: 0;
}

blockquote {
    font-style: normal;
    font-size: calc(23rem / var(--global-font-size));
    line-height: calc(32rem / var(--global-font-size));
    margin: 0 0 24px;
}

blockquote * {
    font-size: inherit;
    line-height: inherit;
}

figcaption {
    font-weight: 400;
    font-size: calc(12rem / var(--global-font-size));
    line-height: calc(16rem / var(--global-font-size));
    margin-top: 8px;
}

hr {
    border: 0;
    height: 1px;
    background: LightGrey;
    margin: 0 0 24px;
}

a {
    transition: all var(--transition-alpha);
    color: var(--color-alpha);
    outline-color: var(--color-alpha);
    outline-width: medium;
    outline-offset: 2px;
}

a:visited,
a:active {
    color: var(--color-alpha);
}

a:hover,
a:focus {
    color: var(--color-alpha-light);
}

label,
input {
    display: block;
}

select {
    width: 100%;
}

input::placeholder {
    color: var(--color-neutral-light);
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/

/*
    Objects: Row
    ---
    Creates a horizontal row that stretches the viewport and adds padding around children
*/

.o-row {
    position: relative;
    padding: 24px 24px 0;
}

/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/

.o-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 79.5em; /* 79.5 * 16px = 1272 */
    width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/

.o-list {
    list-style: none;
    padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.o-button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/

.o-hide-accessible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/

.blue {
    background: var(--global-color-alpha);
}

/*
    Component: App
    ---
    Main app container
*/

.c-app {
    max-width: calc(41 * var(--global-baseline));
    margin-left: auto;
    margin-right: auto;
    min-height: 100vh;
}

/*
    Component: Start page
    ---
    Main app container
*/

.c-startpage {
    color: white;
    text-align: center;
}

.c-logo__svg {
    max-width: 100%;
    fill: #FFFFFF;
}

/*
    Component: Start page menu
    ---
    Main menu to select gamemodes
*/

.c-menu {

}

.c-menu__title {
    font-size: calc(29rem / var(--global-font-size));
    line-height: calc(43.5rem / var(--global-font-size));
    font-weight: 600;
    margin-bottom: var(--global-whitespace-xxs);
}

.c-menu__list {
    margin-bottom: 0;
}

.c-gamemode {
    cursor: pointer;

    font-size: calc(18rem / var(--global-font-size));
    line-height: calc(27rem / var(--global-font-size));

    color: var(--global-color-neutral-x-dark);
    background: #FFFFFF;

    margin-bottom: var(--global-whitespace-xxs);

    border-radius: var(--global-baseline);

    padding: calc(var(--global-baseline) / 8 * 10.5)
}

.c-gamemode:hover,
.c-gamemode:focus {
    box-shadow: 0 0 0 3px var(--global-color-white-transparent);
}

.c-gamemode:active {
    background-color: var(--global-color-neutral-xx-light);
}

/*
    Component: App
    ---
    Main app container
*/

.c-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #FFFFFF;

    padding: 0 var(--global-whitespace-sm);

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    align-items: center;
}

.c-footer__text {
    margin: 0;
    font-size: calc(14rem / var(--global-font-size));
    color: var(--global-color-neutral-x-dark);
}

.c-footer__logos {
    display: flex;
    align-items: center;
}

.c-footer__logo {
    padding: calc(var(--global-baseline) / 2);
    height: 56px;
    width: 56px;
    fill: #44C9F6;
}

/*
    Component: Popup
    ---
    Popup to show above everything
*/

.c-popup {
    background-color: #FFFFFF;
    border-radius: var(--global-baseline);
    padding: var(--global-whitespace-xxs);
    width: 100%;
    max-width: calc(41 * var(--global-baseline));

    position: fixed;
    top: var(--global-whitespace-xxs);
    bottom: var(--global-whitespace-xxs);

    left: 50%;
    transform: translateX(-50%);

    display: none;
}

.c-popup--shown {
    display: block;
}

.c-popup__close {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: var(--global-whitespace-xxs);
    right: var(--global-whitespace-xxs);
    fill: var(--global-color-neutral-dark);
}

.c-popup__close:hover,
.c-popup__close:focus,
.c-popup__close:active {
    fill: var(--global-color-neutral-x-dark);  
}

/*
    Component: Button
    ---
    Button for play, stop, save...
*/

.c-button {
    cursor: pointer;
    width: 100%;
    background: var(--button-backgroundColor, var(--global-color-alpha));
    border-radius: calc(var(--global-baseline) / 2);
}

.c-button__svg {
    fill: white;
    height: 48px;
    width: 48px;
}

.c-button:hover,
.c-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--button-shadowcolor, var(--global-color-alpha-transparent));
}

.c-button:active {
    background: var(--button-activeBackground, var(--global-color-alpha-light));
}

.c-button--stop {
    --button-backgroundColor: var(--global-color-beta);
    --button-shadowcolor: var(--global-color-beta-transparent);
    --button-activeBackground: var(--global-color-beta-light);
}

/*
    Component: title
    ---
    Titles on pages
*/

.c-title {
    font-size: calc(32rem / var(--global-font-size));
    line-height: calc(48rem / var(--global-font-size));
    font-weight: 700; /* bold */
    text-align: center;
    margin: var(--global-whitespace-xs) 0 var(--global-whitespace-xs) 0;
}

.c-subtitle {
    font-size: calc(29rem / var(--global-font-size));
    line-height: calc(43.5rem / var(--global-font-size));
    font-weight: 600; /* semibold */
}

/*
    Component: card
    ---
    Grey cards with information in them
*/

.c-status{
}


.c-card{
    background-color: var(--global-color-neutral-xx-light);
    padding: var(--global-whitespace-sm);
    border-radius: var(--global-baseline);
    text-align: center;
    margin-bottom: var(--global-whitespace-sm);
}

.c-card__title{
    font-size: calc(29rem / var(--global-font-size));
}

.c-card__value{
    font-size: calc(56rem / var(--global-font-size));
}

.c-minicards{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* .c-minicards > :first-child{
    margin: 0 var(--global-whitespace-sm) 0 0;
} */

.c-minicard{
    flex-basis: calc(50% - 12px);
    background-color: var(--global-color-neutral-xx-light);
    border-radius: var(--global-baseline);
    padding: var(--global-whitespace-sm) var(--global-whitespace-xs) var(--global-whitespace-sm) var(--global-whitespace-xs);

}

@media (max-width: 315px) {
    .c-minicards{
        display: inline;
        text-align: center;
    }
    
    /* .c-minicards > :first-child{
        margin: 0 var(--global-whitespace-sm) 0 0;
    } */
    
    .c-minicard{
        width:100%;
        margin-top: var(--global-whitespace-sm);
    
    }
}


/*------------------------------------*\
#UTILITIES
\*------------------------------------*/

/*
    Utilities: textcolor
    ---
    Utility classes to put specific colors onto text
*/

.u-alpha-textcolor{
    color: var(--global-color-alpha);
}

.u-beta-textcolor{
    color: var(--global-color-beta)
}

/*
    Utilities: bottompage
    ---
    Utility classes to an element on the bottom of teh page
*/

.u-bottompage{
    position: fixed;
    bottom: var(--global-whitespace-xs);
    width: 100vw;
    max-width: calc(41 * var(--global-baseline));
    width: 100%;
}


/*
    Utilities: color
    ---
    Utility classes to put specific colors onto elements
*/

.u-color-neutral {
    color: var(--color-neutral);
}

.u-color-neutral-dark {
    color: var(--color-neutral-dark);
}

/*
    Utilities: spacing
    ---
    Utility classes to put specific margins and paddings onto elements
*/

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mb-clear {
    margin-bottom: 0 !important;
}

.u-mb-xs {
    margin-bottom: 4px !important;
}

.u-mb-sm {
    margin-bottom: 8px !important;
}

.u-mb-md {
    margin-bottom: 16px !important;
}

.u-mb-lg {
    margin-bottom: 32px !important;
}

.u-mb-xl {
    margin-bottom: 48px !important;
}

/*
    Utilities: max-width
    ---
    Utility classes to put specific max widths onto elements
*/

.u-max-width-xs {
    max-width: 27em !important;
}

.u-max-width-sm {
    max-width: 39em !important;
}

.u-max-width-md {
    max-width: 50em !important;
}

.u-max-width-lg {
    max-width: 63.5em !important;
}

.u-max-width-none {
    max-width: none !important;
}


/*
    Utilities: align
    ---
    Utility classes align text or components
*/

.u-align-text-center {
    text-align: center;
}

.u-align-center {
    margin: 0 auto;
}

/*
    Utilities: text
    Utility classes to create smaller or bigger test
*/

.u-text-sm {
    font-size: calc(14rem / var(--global-font-size));
}

/*------------------------------------*\
#MEDIA
\*------------------------------------*/

/*
    Media Queries
    ---
    EXAMPLE Media Queries for Responsive Design.
    These examples override the primary ('mobile first') styles.
    USE THEM INLINE!
*/

/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default in mobile first design
*/

/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}
*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}
*/

/* Large devices (landscape tablets, desktops, 992px and up)
@media (min-width: 992px) {}
*/

/* Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}
*/

/*
    Print styles.
    ---
    Inlined to avoid the additional HTTP request:
    http://www.phpied.com/delay-loading-your-print-css/
*/

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}